<%- include('../includes/head.ejs')%>
<script src="/js/board.js" defer></script>
</head>
<body>
	<%- include('../includes/navbar.ejs')%>
	<main>
		
		<div class="container">
			<h3>게시판</h3>
			<form name="frm" method="POST" action="/board/edit/<%=result.id%>" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
				<input type="HIDDEN" class="form-control" id="memberSeq" name="memberSeq" value="<%=result.member_seq%>">

				<div class="col-md-6 form-floating">
					<input type="text" class="form-control" id="memberName" name="memberName" value="<%=result.member_name%>" placeholder="이름" required>
					<label for="memberName" class="form-label">이름</label>
					<div class="invalid-feedback">이름을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="boardTitle" name="boardTitle" value="<%=result.board_title%>" placeholder="글 제목" required>
					<label for="boardTitle" class="form-label">글 제목</label>
					<div class="invalid-feedback">글의 제목을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<textarea class="form-control" id="boardMemo" name="boardMemo" required placeholder="글 내용"><%=result.board_content%></textarea>
					<label for="boardMemo" class="form-label">글 내용</label>
					<div class="invalid-feedback">내용을 입력하세요.</div>
				</div>

				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile1" name="boardFile1" accept="image/*">
					<%if (result.board_file1){%>
						<a href="/board/attach/<%=result.id%>/1"><%=result.board_file1_ori%></a>
						<a href="javascript:goFileDel(<%=result.id%>, 1);"><i class="bi bi-file-x"></i></a>
					<%}%>
				</div>
				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile2" name="boardFile2" accept="image/*">
					<%if (result.board_file2){%>
						<a href="/board/attach/<%=result.id%>/2"><%=result.board_file2_ori%></a>
						<a href="javascript:goFileDel(<%=result.id%>, 2);"><i class="bi bi-file-x"></i></a>
					<%}%>
				</div>

				<%if(alertMsg){%>
					<div class="alert alert-<%-alertMsg.type%> alert-dismissible fade show" role="alert">
						<strong><%-alertMsg.intro%></strong><%-alertMsg.message%>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				<%}%>

				<div class="col-12">
					<%if (result.member_seq === loginSeq){%>
						<button class="btn btn-primary" type="submit">저장</button>
					<%}%>
					<a href="/board" class="btn btn-secondary">목록</a>
				</div>
			</form>
		</div>
	
	</main>

<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(() => {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		const forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}

				form.classList.add('was-validated')
			}, false)
		})
	})()

	const goFileDel = (seq, order) => {
		if (confirm("해당 파일을 삭제하시겠습니까?")){
			location.href=`/board/fileDelete/${seq}/${order}`;
		}
	}
</script>

<%- include('../includes/footer.ejs')%>