<%- include('../includes/head.ejs')%>
</head>
<body>
	<%- include('../includes/navbar.ejs')%>
	<main>
		<div class="container">
			<h3>게시판 글쓰기</h3>
			<form name="frm" method="POST" action="/board/reply/<%=result.id%>" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
				<input type="TEXT" id="memberSeq" name="memberSeq"
				<% if (isLogin){ %>
				 	value="<%= loginSeq%>"
				<%} else {%>
				  	value="<%=result.member_seq%>"
				<%}%>
				>
				<input type="TEXT" id="ref" name="ref" value="<%=result.ref%>">
				<input type="TEXT" id="ref_level" name="ref_level" value="<%=result.ref_level%>">
				<input type="TEXT" id="ref_step" name="ref_step" value="<%=result.ref_step%>">

				<div class="col-md-6 form-floating">
					<input type="text" class="form-control" id="memberName" name="memberName" 
					<% if (isLogin) { %>
					value="<%=loginName%>"
					<%} else {%>
					value="<%=result.member_name%>"
					<%}%>
					placeholder="이름" required>
					<label for="memberName" class="form-label">이름</label>
					<div class="invalid-feedback">이름을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="boardTitle" name="boardTitle" value="답변: <%- result.board_title%>" placeholder="글 제목" required>
					<label for="boardTitle" class="form-label">글 제목</label>
					<div class="invalid-feedback">글의 제목을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<textarea class="form-control" id="boardMemo" name="boardMemo" required placeholder="글 내용"><%- result.board_content%></textarea>
					<label for="boardMemo" class="form-label">글 내용</label>
					<div class="invalid-feedback">내용을 입력하세요.</div>
				</div>

				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile1" name="boardFile1" accept="image/*">
				</div>
				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile2" name="boardFile2" accept="image/*">
				</div>

				<div class="col-12">
					<button class="btn btn-primary" type="submit">저장</button>
					<a href="/board" class="btn btn-secondary">목록</a>
				</div>
			</form>
		</div>
	</main>

<script>
	(() => {
		'use strict'
		const forms = document.querySelectorAll('.needs-validation')
		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}

				form.classList.add('was-validated')
			}, false)
		})
	})()
</script>
<%- include('../includes/footer.ejs')%>