<%- include('../includes/head.ejs')%>
<script src="/js/point.js" defer></script>
</head>
<body>
	<%- include('../includes/navbar.ejs')%>
	<main>
		<div class="container form-floating">
			<h3>포인트</h3>
			<div class="row">
				<div class="col-md-12"></div>
				<form class="form-inline justify-content-end">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control form-control-sm" id="searchText" name="searchText" value="<%//=searchText%>" placeholder="검색어">
					</div>
					<button type="button" class="btn btn-sm btn-primary mb-2" id="btnSearch">검색</button>
				</form>
		
				<div class="row">
					<div class="col">총 <%=totalCnt%>건 <%=pagination.page%> / <%=pagination.pageCount%>페이지</div>
				</div>

				<div class="row">
					<div class="col">보유포인트: <%=sumPoint%>포인트 / 이달 소멸 포인트: <%=vanishingPoint%></div>
				</div>

				<%if(alertMsg){%>
					<div class="alert alert-<%-alertMsg.type%> alert-dismissible fade show" role="alert">
						<strong><%-alertMsg.intro%></strong> <%-alertMsg.message%>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				<%}%>
		
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">번호</th>
							<th scope="col">메모</th>
							<th scope="col">방법</th>
							<th scope="col">포인트</th>
							<th scope="col">날짜</th>
						</tr>
						</thead>
						<tbody>
						<% rows.forEach((row, index) => {
							rowNum = totalCnt - (pagination.pageSize * (pagination.page - 1)) - index
						%>
						<tr>
							<th scope="row"><%=rowNum%></th>
							<td><%=row.P_MEMO%></td>
							<td><%=row.P_PART_VALUE%></td>
							<td><%=row.P_POINT%></td>
							<td><%=row.P_DATE%></td>
						</tr>
						<%})%>
					</tbody>
				</table>
			</div>
			
			<!-- 페이지 -->
			<%
				let currentPage = pagination.page; //현재 페이지 
				let totalRecord = totalCnt; 							//총 레코드 수 
				let pageSize = pagination.pageSize; 				//한 페이지당 보여질 레코드 수
				let totalPage = Math.ceil(totalRecord / pageSize); 	//총 페이지 수 
				let blockSize = pagination.pageBlock; 				//블럭당 보여질 페이지 수 
				let firstPage = currentPage - (currentPage - 1) % blockSize; 	//블럭당 시작 페이지 
				let lastPage = firstPage + (blockSize - 1); 					//블럭당 끝 페이지 
				let num = totalRecord - (currentPage - 1) * pageSize; 			//페이지당 시작 번호
			%>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item <%if((currentPage) <= 1){%> disabled <%}%>"><a href="?page=1&searchText=<%-searchText%>" class="page-link">First</a></li>

					<li class="page-item <%if((firstPage - 1) <= 1){%> disabled <%}%>"><a href="?page=<%=firstPage-1%>&searchText=<%-searchText%>" class="page-link">Prev</a></li>

					<%for(var i = firstPage; i <= lastPage; i++){%>
						<%if(i > totalPage)break;	//총 페이지 수를 넘어서면 멈춘다%> 
						<li class="page-item <%if(currentPage == i){%> active <%}%>"><a href="?page=<%=i%>&searchText=<%-searchText%>" class="page-link"><%=i%></a></li>
					<%}%>
					
					<li class="page-item <%if((lastPage + 1) > totalPage){%> disabled <%}%>"><a href="?page=<%=lastPage + 1%>&searchText=<%-searchText%>" class="page-link">Next</a></li>

					<li class="page-item <%if(currentPage == totalPage){%> disabled <%}%>"><a href="?page=<%=totalPage%>&searchText=<%-searchText%>" class="page-link">Last</a></li>
				</ul>
			</nav>
			<!-- 페이지 -->

			<!-- 포인트 사용 & 적립 -->
			<form name="frm" id='frm' method="POST" action="/point/save" class="row g-3 needs-validation" novalidate>
				<input type="HIDDEN" id="pointPart" name="pointPart" value="99">
				<div class="col-md-3 form-floating mb-3">
					<input type="text" class="form-control" id="pointAmount" name="pointAmount" placeholder="포인트 금액" required>
					<label for="memberID" class="form-label">포인트 금액</label>
					<div class="invalid-feedback">포인트 금액을 입력하세요.</div>
				</div>
				<div class="col-md-7 form-floating mb-3">
					<textarea class="form-control form-control-sm" id="pointMemo" name="pointMemo" placeholder="포인트 내용" required></textarea>
					<label for="memberID" class="form-label">포인트 내용</label>
					<div class="invalid-feedback">포인트 내용을 입력하세요.</div>
				</div>

				<div class="col-md-1 form-floating mx-sm-3 mb-2">
					<button type="submit" class="btn btn-sm btn-primary mb-2">저장</button>
				</div>
			</form>
			<!-- 포인트 사용 & 적립 -->
		</div>
	</main>

	<script>
		(() => {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			const forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.from(forms).forEach(form => {
				form.addEventListener('submit', event => {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
		})()
	</script>

<%- include('../includes/footer.ejs')%>